/****** PLACE YOUR CUSTOM STYLES HERE ******/
.user_profile_photo_tag{
	border-radius: 80px;
}
 #map-canvas {
   height: 353px;
   width: 100%;
   display: inline-block;
   padding: 0;
   /*margin-bottom: -1.1%;*/
 }


 /*feed border*/

 .border-sm{
 	border: 1px solid #ccc !important;
 }

 .col-sm-6{
 	padding-left: 5px;
 	 	padding-right: 5px;

 }

.mbs5{
 	margin-left: 5px !important;
 	margin-right: 5px !important;

 }

/*translates to pading both sides*/
 .pbs15{
 	padding-left: 10px !important;
 	padding-right: 10px !important;

 }

 .pb5{
 	
 }

.mr8{
	padding-right: 11px !important;
}

.ml5{
	margin-left: 5px !important;
}


.mb5{
	margin-bottom: 5px !important;
}
/*this is the negatives*/
 .mb_16{
 	margin-bottom: -16px !important;
 }

