<div class="nav-container">
            <a id="top"></a>
            <nav class="light">
                <div class="nav-bar text-center">
                    <!-- <div class="module left">
                        <a href="index.html">
                            <img class="logo logo-light" alt="Foundry" src="img/logo-light.png" />
                            <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
                        </a>
                    </div> -->
                    <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                    
                                </li>

                                <li class="has-dropdown">
                                    <a href="#">
                                        Create
                                    </a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <span class="title">Create</span>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-1.html">Create Article</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-2.html">Create Event</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-3.html">Need Help?</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>
                                
                                <li class="has-dropdown">
                                    <a href="#">
                                        Videos
                                    </a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <span class="title">Videos</span>
                                                </li>
                                                 <li>
                                                    <a href="page-about-us-1.html">View Most Recent</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-2.html">View by map</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-3.html">Need Help?</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>

                                <li class="has-dropdown">
                                    <a href="#">
                                        Events
                                    </a>
                                    <ul class="mega-menu">
                                        <li>
                                            <ul>
                                                <li>
                                                    <span class="title">Events</span>
                                                </li>
                                                 <li>
                                                    <a href="page-about-us-1.html">View Most Recent</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-2.html">View by map</a>
                                                </li>
                                                <li>
                                                    <a href="page-about-us-3.html">Need Help?</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">
                                        Contact
                                    </a>
                                    
                                </li>


                                <!-- <li class="">
                                    <a href="#">
                                        Q&A
                                    </a>
                                    
                                </li> -->
                               
                               
                            </ul>
                        </div>
                        <!--end of menu module-->
                        
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>