<div class="centered_container">

	<div class="feed_border">
      <h4 class="center">the FOOTY™app</h4>
      <h2 class="center">
      HOW IT WORKS...
      </h2>
    </div>
	<!-- <img class="feed_border" width="100%"src="http://res.cloudinary.com/mckshreder/image/upload/v1441765874/Footy_main3_a8lsmq.png"> -->
	<div class="home_info">
		
		
		<ul class="text_list black">
		
			<li>
				<p>#1. Have fun and skate with your friends everyday!</p>
			</li>
			<li>
				<p>#2. Film and edit a fun video or a "Sponsor me clip" with your best footy.</p>
			</li>
			<li>
				<p>#3. Upload your video to YouTube, copy the video url, and place ad with your video on our skateboarding classfields. </p>
			</li>
			<li>
				<p>#4. Instantly share your footy with companies, friends, and family all around the world... for FREE!</p>
			</li>
		</ul>
	</div>

	<hr class = "line-break" >
	

	<div class="feed_border">
      <h2 class="center">
      	LOCAL FOOTY CLASSIFIEDS!
      </h2>
      <!-- <hr class="small_line_break"> -->
    </div>
  <div class="home_info"> 
      <!-- <h5 class="center">Send your footy and your favoite company.</h5> -->
    <ul class="text_list black">
      <li>
        <p>#1. Scroll through classifieds and contact to the skater of your choice!</p>
      </li>
      <li>
        <p>#2. Search skaters near you by your location on theFOOTYmap.</p>
      </li>
      <li>
        <p>#3. Create a skate post for theFOOTY™app!</p>
      </li>
    </ul>
  </div>

  	<hr class = "line-break" >

  <div class="feed_border">
      <h2 class="center">
      LOCAL EVENTS!
        </h2>
      <!-- <hr class="small_line_break"> -->
    </div>
  <div class="home_info"> 
      <!-- <h5 class="center">Send your footy and your favoite company.</h5> -->
    <ul class="text_list black">
      <li>
        <p>Option #1. Scroll through events and RSVP to the event of your choice!</p>
      </li>
      <li>
        <p>Option #2. Search events near you by your location on theFOOTYmap.</p>
      </li>
      <li>
        <p>Option #3. Create a skate event for theFOOTY™app!</p>
      </li>
    </ul>
  </div>
  <hr class = "line-break" >
</div>