<div class="main-container mt0">
<section class="cover fullscreen image-slider slider-arrow-controls controls-inside parallax">
    <ul class="slides">
        <li class="overlay image-bg bg-dark">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="http://res.cloudinary.com/mckshreder/image/upload/q_100/v1447575025/IMG_0220_kcbdhf.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-6 col-sm-8">
                        <h1 class="mb40 mb-xs-16 large">Welcome to FOOTY™
                        </h1>
                        <h4>SKATE | FILM | SHARE</h4>
                        <h6 class="uppercase mb16">A complete skateboard social network</h6>
                        <p class="lead mb40">
                           Publish beautiful, contemporary skateboarding
                           <br />articles in just moments with the Footyapp Builder™.
                        </p>
                        <a class="btn btn-lg" href="/posts" data-no-turbolink >Start Exploring</a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>
    </ul>
</section>
</div>
<script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/flickr.js"></script>
        <script src="../js/flexslider.min.js"></script>
        <script src="../js/lightbox.min.js"></script>
        <script src="../js/masonry.min.js"></script>
        <script src="../js/twitterfetcher.min.js"></script>
        <script src="../js/spectragram.min.js"></script>
        <script src="../js/ytplayer.min.js"></script>
        <script src="../js/countdown.min.js"></script>
        <script src="../js/smooth-scroll.min.js"></script>
        <script src="../js/parallax.js"></script>
        <script src="../js/scripts.js"></script>

