
<!-- <div class="embed-responsive embed-responsive-16by9">
    <%= embed("//www.youtube.com/embed/9TKauIurEAQ?autoplay=1&controls=0&rel=0&showinfo=0&autohide=1") %>
</div> -->
<!-- <iframe class="landing_video" width="1600" height="800" src="https://www.youtube.com/embed/9TKauIurEAQ?autoplay=1&controls=0&rel=0&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe> -->

<!--<%= cl_image_tag("Lenny_mirror_homepage_j3fltj.gif", :resource_type=>"video") %>-->


<img class="landing_photo" width="100%"src="http://res.cloudinary.com/mckshreder/image/upload/v1441765874/Footy_main3_a8lsmq.png">

<div class = "landing_nav">
	<!-- <a class="landing_button" href="/users/map">FOOTY</a> -->
	<a class="landing_button" href="/posts" data-no-turbolink>ENTER SITE</a>
	<!-- <a class="landing_button" href="/events">EVENT</a> -->
</div>
<a class="landing_slogan" href="/posts" data-no-turbolink>SKATE | FILM | SHARE</a>
