/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
body{
  /*background-image: url(http://khongthe.com/wallpapers/abstract/mix-3d-paint-252853.jpg);
  background-repeat: none;
  background-attachment: fixed;
  background-position: center;*/
  background-color: #242424;
}
.center {
  text-align: center;
}
.left {
  text-align: left !important;
  overflow: none !important;
}
.right{
  text-align: right !important;
}
h3{
  margin-top: 1%;
}

h2{
  margin-top: 1%;

}

nav{
  width: 100%;
  height: 2.5%;
  padding-left: 0px !important;
  margin-top: -34px;
  /*margin-left: -5% !important;*/

  background-color: transparent !important;
  box-shadow: none !important;
  z-index: 10 !important;
}
/*this basically controlls the place ment of the nav*/
nav ul{
  padding: 0;
  margin-left: 11.25%;
}

/*this is the STYLE of the divs that do not drop down dropdowns*/
#my_new_nav li{
  /*float: left;*/
  text-align: center;
/*  margin-top: -5%;*/
  list-style: none;
  width: 17.5%;
  margin: -0.21%;
  /*opacity: 0.9;*/
  overflow: hidden;
  display: inline-block;
  max-height: 38px;

}

div.tab {
  width: 100%;
  height: 38px;
/*  z-index: 1;*/
}

.dropdown_nav {
  position: absolute; 
  float:left;
  /*this is what allowed me to bring the bar to left left of the drop down*/
  left:0;
  display: none;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 5;
}
div.dropdown_nav a{

  height: 102px;
  padding: 25px;
  white-space: nowrap;
  color:white;
  font-size: 2.5vw;

  letter-spacing: 3px;
  &:hover {
       color: black;
     }
}

div a{
  font-size: 1vw;

  margin: 0;
  display: block;
  white-space: nowrap;
  color:white;
  font-size: 1vw;
  letter-spacing: 3px;
  &:hover {
       color: black;
     }
}

.nav_pad{
  padding: 4.3%;
}


#green {
  background-color: #9da200;
}
/*actually red*/
#purple{
  background-color: #da3905;
}

#orange {
  background-color: #ed9200;
}

#blue{
  background-color: #007d9c;
}

#pink {
  background-color: #1d8249;
}

/*this is the image that is the main title image throigh out the entire site*/
.footy_logo_img{
  width: 100%;
  margin-top: -17%;
  z-index: 1;
}
br.clear {
   clear: both;
}


body.container-fluid{
  width: 100%;
  padding: 0;
  margin-top: -73px;
  letter-spacing: 2px;
  }

/*this to align the drop down box*/
#topright_nav, #topright_nav ul{
  z-index: 1001;
  text-align: right;
  float: right;
  width: 100%;
  padding-left: 0;
  margin: 0; 
  list-style-type: none;
  list-style-position: outside;
  display: inline;
}

#topright_nav li{
  width: 100%;
  text-align: center;
  padding: 3%;
}
#topright_nav ul li a{
  font-size: 1vw;
  margin: 0;
  float: center;
  text-align: center;
  display: block;

}
#topright_nav li a{
display: inline;
font-size: 1vw;
position: relative;
}

 #topright_nav a:link, #topright_nav a:active, #topright_nav a:visited{
    /*padding:0px 5px;*/
    color: #0062c3;
    text-decoration:none;
    font-size: 1.4vw;
 }

#topright_nav a:hover{
    /*background-color:#fff;*/
    color:#333;
}


#topright_nav ul {
    width:100%;
    display:none;
}

#topright_nav li ul ul {
    right:12em;
    margin:0;
    }
#topright_nav li ul{
    padding:0;
    }

#topright_nav li:hover ul ul, #topright_nav li:hover ul ul ul, #topright_nav li:hover ul ul ul ul{
    display:none;
    }
#topright_nav li:hover ul, #topright_nav li li:hover ul, #topright_nav li li li:hover ul, #topright_nav li li li li:hover ul{
    display:block;
    }


/*The left column containing the posts*/
 .left_column {
  width: 43%;
  /*max-width: 493px;*/
  margin-left: 9.5%;
  margin-top: -23px !important;
/*  margin-top:25px;*/
  float:left;
  text-align: center;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: rgba(255,255,255,0.9);
  border-top: 1.5px black solid;
  margin-top:0.5%;
  display: block;
  clear: both;

}

/*this is home page left site info*/
.text_list{
  list-style:none;
  text-align: left;
  padding: 0;
  /*padding-bottom: 1%;*/
}

.text_list p{
  font-size: 1.2vw;
  /*line-height: 162%;*/
}
/*.text_list small{
  font-size: 1vw;
}*/
.text_list h3{
  font-size: 2.3vw;
}
.home_info{
/*border-top: 1.5px black solid;*/
padding-left: 1%;
padding-right: 1%;
color: white;
border:none;
/*border-bottom: 1px black solid;*/
}

.signup_form{
/*border-top: 1.5px black solid;*/
padding-left: 3%;
padding-right: 3%;
color: black;
border:none;
line-height: 18px;
/*border-bottom: 1px black solid;*/
}

/*styling for feed on left column bottom*/
.large_feed{ 
  width: 100%;
  vertical-align: center;
  margin-left: 0px;
  /*margin-top: 10px;*/
  display: block;
}
/*this is for the title of the video on the large feed*/
.large_posts_title{
  text-align: left;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: center;
  padding: 0 !importantjk;;;
  color: #0088ff;
    &:hover {
         color: #337ab7;
       };
}
.video_top_container_feed{
  border-bottom: 2px solid black;
  padding-right: 10px; 
  padding-left:10px;
  width: 100%; 
}
/*this is what contains the user name and photo on large feed left*/
.video_top_info{
  color: #1a1c21;
  text-align: left;
  font-size: 1.8vw !important;
  /*line-height: 18px;*/
  font-weight: 700;
  width: 100%;
  padding: 1.5%;
  display: inline-block;
  border-top: 1.5px black solid;
}
.video_top_info div{
  color: #1a1c21;
  text-align: right !important;
  font-size: 1vw !important;
 /* line-height: 18px;*/
  font-weight: 700;
  width: 20%;
  /*padding-left: 21.5%;*/
  padding-top: 0;
  /*float: right;*/
   display: inline;

}

.option_link{
  color:rgb(0, 136, 255);
  text-align: left;
  font-size: 1.2vw !important;
  line-height: 25px;
  font-weight: 700;
  /*padding-left: 1110px; */
  display: inline-block;
}
hr.small_line_break{
  margin: 0 !important;
  padding: 0 !important;
  border-top: 1px solid #eee;
}
/*.large_link_photo{
 width: 100%;
  height: 25px;
  font-size: 12px;
  z-index: 999;
  position: relative;
  text-shadow: 0 0 2px black;
  padding-left: 8.2px;
  color:rgb(0, 136, 255);
    &:hover {
         color: white;
       };
}*/
.user_large_photo_tag{
  border-radius: 12px;
  border: 1px solid rgb(0, 136, 255);
}
.large_link_photo a{
  display: inline !important;

}

.feed_border{
  border-bottom: 1.8px black solid;
/*  border-top: 1.3px black solid;*/
  padding: 5px;
  text-align: left;
  font-size: 5vw !important;
  background-color: transparent !important;
  overflow: hidden;
}
.feed_border img{
  width: 100%;
}
/*for the dates in on right column*/
.feed_border p{
  font-size: 1.3vw !important;
  text-align: center;
}
/*for the link a tag on right side colum*/
.feed_border a{
  font-size: 1.2vw !important;
  text-align: center;
  overflow: hidden;
  color: #0088ff;
    &:hover {
         color: #337ab7;
       };
}
/*for the titles of the events on right column*/
.feed_border h4{
  font-size: 1.4vw !important;
  text-align: center;
  font-weight: bolder;
}

/*the word Events on right column top*/
.feed_border h2{
  font-size: 3vw !important;
  text-align: center;
}
.feed_border h6{
  font-size: 1.2vw !important;
  text-align: center;
/*  padding-top: 1%;*/
  margin:0 !important;
}
.feed_border h1{
font-size: 4vw !important;
text-align: center;
margin-top: 1%;
}

.comments-on-feed {
  font-size: 1.3vw;
  z-index: 999;
  color:black;
  display: inline-block;
}
/*this is the part in the video info container that is just below the title for name: garrett age: 25...*/
.info-on-feed small{
  font-size: 1.2vw;
  color:black;
  display: inline-block;
  font-weight: bolder;
  color:black;
}
.info-on-feed p{
  font-size: 1.3vw;
  color:black;
  display: inline-block;
  font-weight: bolder;
  color:black;
  margin: 0;
}
.info-on-feed xsmall{
  font-size: 1vw;
  color:black;
  display: inline-block;
  font-weight: bolder;
  color:black;
  padding: 0;
  margin: 0 !important;
  text-align: left !important;
}
.blue{
  color:#0088ff;
  &:hover {
    color:#0088ff;
 /*   text-decoration: underline;*/
       }
  font-size: 2vw;
}
.blue_font{
  color:#0088ff;
  font-size: 1.25vw;

}
.blue_font_large{
  color:#0088ff;
  font-size: 2.25vw !important;
  display: inline-block;
}
a.blob{
  color:#0088ff;
  &:hover {
    color:#0088ff;
 /*   text-decoration: underline;*/
       }
  font-size: 2vw !important;
  text-align: center;
  margin: 0 !important;
  padding: 0 !important;
}
/*these are for the text on the columns*/
.black{
  padding-top: 1%;
  padding-left: 1%;
  font-size: 1.9vw;
  text-align: left;
  color:black;
  &:hover {
         color:black;
       }
}


/*this is for the button for create new account on main page*/
.large_button {
  font-size: 1.75vw !important;
  text-align: center;
  font-weight: bolder;
  border: 1px black solid;
  padding-top: 5%;
  padding-bottom: 5%;
  color:white !important;
  width:100% !important;
  overflow: hidden;
  background-color:#0088ff !important; 

}

/*this is for the buttons above event rsvp*/
.rsvp_button {
  font-size: 1em !important;
  text-align: center;
  font-weight: bolder;
  border: 1px black solid;
  margin-left: 5px;
/*  padding-top: 5%;
  padding-bottom: 5%;*/
  color:white !important;
  width:30% !important;
  overflow: hidden;
  float: left;
  background-color: #0088ff !important;

  }

  .right_column_button {
  font-size: 1em !important;
  text-align: center;
  font-weight: bolder;
  border: 1px black solid;
  margin: 1px;
/*  padding-top: 5%;
  padding-bottom: 5%;*/
  color:white !important;
  width:49% !important;
  overflow: hidden;
  float: left;
  background-color: #0088ff !important;

  }

   .home_column_button {
  font-size: 1.5em !important;
  text-align: center;
  font-weight: bolder;
  border: 10px white solid;
  margin: 1px;
  padding-top: 5%;
  padding-bottom: 5%;
  color:white !important;
  width:49% !important;
  overflow: hidden;
  float: left;
  background-color: rgb(36, 36, 36) !important;

  }

/*The right column containing the posts*/
 .right_column {
  width: 37%;
  /*max-width: 441px;*/
  margin-right: 9.5%;
  margin-top: -23px !important;
  float:right;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: rgba(255,255,255,0.9);
  border-top: 1.5px black solid;
  position: relative;

 /* text-align: center;*/
}
/*The right column actually post contained by right column*/
.right_column_post {
    
    background: white;
    width: 100%; 
    height: 350px;
    display: inline-block;
    outline: none;
    margin: 5px;  
}

/*this is where we over ride boot strap for the map*/
/*#home_photo{
  width: 67%;
  margin-left: 17.5%;
  margin-top: -2.3%;
}*/
#map-container {
   height: 384px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
    &:hover {
         color: white;
       }

 }
 #map-canvas {
   height: 353px;
   width: 100%;
   display: inline-block;
   padding: 0;
   /*margin-bottom: -1.1%;*/
 }

 .map_feed_row {
  width: 100%;
  margin-left: 5px;
  margin-top:25px;
 
 /* text-align: center;*/
}

.map_feed_post {
    
    background: white;
    width: 32.15%; 
    height: 350px;
    display: inline-block;
    outline: none;
    margin: 5px;  
}

#event_logo{
  position: absolute;
  z-index: 100;
  font-size: 3.5em;
  padding-left: 3.8%;
  padding-top: 2%;
  color: white;
  &:hover {
         color: black;
       }
}


/*end of google maps styling*/

 .col-xs-6 {
  float: left;
 }

 .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}



.container-fluid {
  font-family: 'Oswald', sans-serif;
}

.centered_container{
 width:82%;
 margin-left: 9%;
 margin-top: -1%;
 background-color: rgba(255,255,255,0.9);
}

.navbar .nav-links {
font-family: 'Michroma', sans-serif, !important;

}


.feed_row {
  width: 100%;
  margin-left: 5px;
  margin-top:5px;
 
 /* text-align: center;*/
}

.feed_post {
    
    background: white;
    width: 32.15%; 
    height: 337px;
    display: inline-block;
    outline: none;
    margin: 5px;  
}

/*the css for the langing home page*/
.landing_photo {
position: absolute;
top: 0;
left: 0;
background: black;
z-index: 0;
}

.landing_nav{
  position: absolute;
  margin-left: 36.5%;
  margin-top: 22.5%;
}

.landing_button {
  z-index: 15;
  border: 4px white solid;
  color: white;
  font-size: 4vw;
  display: inline;
  margin: 4%;
  padding: 13px;

}

.landing_slogan{
  position: absolute;
  margin-left: 26.3%;
  margin-top: -5%;
  z-index: 15;
  color: white;
  font-size: 5vw;
  padding: 10px;
  /*border: 4px white solid;*/
}



span.glyphicon.glyphicon-cog{
  width: 20px;
  
}

h3.jumbotron{
  background-color: white;
}
ul.dropdown-menu{
  text-align: right;
}


/*@media screen and (max-width: 568px) {

.feed_container{
  padding-left: 20px;
  }
}*/



@media screen and (max-width: 1024px) {
  .centered_container{
   width:100%;
   margin-left: 0%;
   /*margin-top: -2.2%;*/
   background-color: rgba(255,255,255,0.9);
  }
}






@media screen and (max-width: 600px) {

.feed_post{
  height:100%;
  width:100%;
  min-width: 325px;
  min-height: 310px;
  margin-left: 0;
  margin:0;

  }
}
@media screen and (max-width: 375px) {

.navbar{
  min-width: 325px;
  padding: 0;
  
  }
}

@media screen and (max-width: 375px) {

body.container-fluid{
  width: 100%;
  padding: 0;
  
  }
}

/*making font color section*/
.white{
  color: white !important;
}

.landing_video {
/*  z-index: 999;
  /*position: absolute;*/
/*  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 800;
  overflow: hidden;
  width: 1800;
    top: 0; left: 0;
  
  margin-bottom: 12px;*/
} 

/*.embed-container iframe,
.embed-container object,
.embed-container embed {
  z-index: 999;
  
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.landing_video{
  z-index: 999;
  position: absolute;

}*/





