// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

/* user#new mainpage background video*/

.home_top_container{
  padding: 15px;
  padding-bottom: 20px;
  height: 40vw; 
  /*background-color: black; */
}

div.home_top_object{
  width: 31.9%;
  height: 100%; 
  background-color: white !important;
  display: inline-block;
  float: left;
  margin: 5px;
  margin-top: 0px;
  /*border: 1.5px double black;*/
  overflow: hidden;
}

.home_top_photo{
  border-radius: 100%;
  margin-left: 22.5px;
  margin-top: 20px;
  width:85%;
  /*border: 1.5px solid black;*/
}

.home_top_info h3 {
  font-size: 7.2em;
  text-align: center;
  padding-top: 3.1%;
}

.home_top_info{
  margin-top: 20px;
  width: 100%;
  height: 34%;
  background-color: #292929 !important;
  border: 1.5px solid black;
  color: white;
}

.home_top_slider{
  width: 97.5%;
  height:13%;
  /*background-color: white;*/
  margin: 5px;
  margin-top: -1%;
  margin-bottom: 10px;
}

.home_logo_photo{
    width: 82.2%;
    max-width: 1200px;
    margin-left: 8.9%;
    margin-top: -25px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1024px) {


  div.home_top_object{
  width: 31.6%;
  height: 121%; 
  background-color: white !important;
  display: inline-block;
  margin: 5px;
  }

  .home_top_photo{
  border-radius: 100%;
  margin-left: 20px;
  margin-top: 20px;
  width:84%;
  border: 1px black solid;
  }

  .home_logo_photo{
    width: 100%;
    max-width: 1200px;
    margin-left: 0%;
    margin-top: -34px;
    padding-bottom: 10px;
}


}


.new_user_video_wrapper {
    position: absolute;
    width: 500%;
    height: 100%;
    z-index: 9;
}
.screen {
    position: relative;
    height: 100%; 
    width: 20%; /*  NOTE:numVideos/100%  */
    float: left;
    overflow: hidden;
}




.user_account_container{
  width: 39%;
  height: 55%;
  vertical-align: center;
  margin-left: 55%;
  margin-top: 8%;
  display: block;
  
}



.title-link{
  color: black;
  	&:hover {
         color: #337ab7;
       }
  text-align: right;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 10px;


}
.title_link_right{
  
  color: black;
  	&:hover {
         color: #337ab7;
       }
  text-align: right;
  float: right;


}



.artist-link{
  color:rgb(0, 136, 255);
    
  text-align: left;
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  padding-left: 10px; 
  

}





.panel-default > .panel-heading {
  background-color: black;
}

hr.line-break {
  margin-top: 12px;
  margin-bottom: 5px;
  border-top: 1px solid #eee
}

hr.comment-line-break {
  margin-top: 0px;
  margin-bottom:0px;
  border-top: 1px solid black;
}

hr.comment-line-break-top {
  margin-top: 2px;
  margin-bottom:0px;
  border-top: 1.2px solid #eee;
}
.profile-photo-tag{
 	text-align: center;
  width: 100%;
  height: 25px;
  font-size: 12px;

  text-shadow: 0 0 2px black;
  padding-left: 4.2px;
  padding-top: 2px;
  color:white;
    &:hover {
         color: #337ab7;
       };
}
.post-photo-tag{
  width: 250px;
  height: 25px;
  font-size: 12px;
  z-index: 999;
  position: absolute;
  text-shadow: 0 0 2px black;
  padding-left: 15.2px;
  padding-top: 2px;
  color:white;
    &:hover {
         color: #337ab7;
       };
  
}

.user-post-photo_tag{
  border-radius: 12px;
  border: 1px solid rgb(0, 136, 255);
  float:left;
  margin-left: -5%;


}



.time-ago-tag{
  text-align: right;
  font-size: 7px;
  padding-top: 5px;
  padding-right: 10px;
  color:black;
}

.comments-tag-on-feed {
  font-size: 9px;
  z-index: 999;
  position: absolute;
  padding-left: 10px;
  padding-top: 3px; 
  color:rgb(0, 136, 255);
    &:hover {
         color: #337ab7;
       }
  display: inline-block;

}

.comment-link-color-change{
    font-size: 10px;
    color: black;
    &:hover {
         color: #337ab7;
       }

}
.comment-title-link{
  color: black;
    &:hover {
         color: #337ab7;
       }
  text-align: right;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  padding-left: 10px;


}
.comment_title_link_right{
  
  text-align: right;
  font-size: 7px;
  padding-top: 5px;
  padding-right: 5px;
  color:black;
  width:100%;
  display: inline-block;


}

.comment-time-ago-tag{
  text-align: right;
  font-size: 7px;
  padding-top: 5px;
  padding-right: 5px;
  color:black;
  width:29%;
  display: inline-block;
  
  


}
.comment-user-name-tag{
  text-align: left;
  width:70%;
  padding-top: 5px;
  padding-left: 5px;
   display: inline-block;

}

.comment-video-body{
  margin-top: 6px;
  padding-left: 6px;
  text-align: left;
  color: black;
  font-size: 15px;
  display: inline-block;
}

.comment-user-post-photo_tag{
  border-radius: 11px;
  border: 1px solid rgb(0, 136, 255);
 

}

.comment-photo{
  display: inline-block;
  padding-left: 5px;
  

}

.comment_feed_container{
  
    height: 100%;
   	clear:both;
    outline: none;
    width:37%;
    padding-left: 10px;

  
  
}

/*h4.small{
text-align: right;

}*/

.comment_feed_post{
    
    
    width:100%;
    
    background: white;
    height: 300px;
    
    outline: none;
    

}

.comment_feed_row{
  width: 100%;
 
  
  overflow: scroll;
  height: 250px;
}

.video-container{
  
  width: 70%;
  vertical-align: center;
  margin-left: 15%;
  margin-top: 10px;
	display: block;

}

/*.video-container-create{
 
  width: 70%;
  vertical-align: center;
  margin-left: 15%;
  margin-top: 10px;
	display: block;


}*/

.video-title-link{
  color: #1a1c21;
    
  text-align: left;
  font-size: 1.8em;
  line-height: 18px;
  font-weight: 700;
  width: 50%;
  padding-top: 10px;
  display: inline-block;
 

}



.video-artist-link  {
  color: rgb(0, 136, 255);
    
  width: 49%;
  font-size: 1.4em;
  line-height: 18px;
  font-weight: 700;
  
 
  text-align: right;
  
  padding-top: 15px;
  display: inline-block;
  

  

  

}



.video-return-delete-box{
  border-top: 2px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  width:100%;
  clear: both;
  bottom: 0;
}


.video-nav{

width: 63%;
display:inline-block;
float: left;




}

.video-poster{
padding: 4px;

}



.video-info-container-header-bottom{
  border-top: 3px solid black;
  padding-right: 10px; 
  
  padding-bottom: 5px;
  text-align: right;
 
  width: 70%;
 
  margin-left: 15%;

  

}





.video-comment-form{
  width:100%;
  height: 10%;
  display: inline-block;
  }


.submit-button{
  width:100%;
  border:none;
  border-bottom: 1.2px solid black;
  background-color: transparent !important;
 text-align: right;
  color:#0088ff !important;
    &:hover {
         color: #337ab7;
       }

}

.submit-button-create{
  font-size: 2em;
  width:100%;
  border:none;
  border-bottom: 1.2px solid black;
/*  background-color: transparent;
  background-color: white;
  text-align: right;
  color:#0088ff;
    &:hover {
         color: #337ab7;
       }
*/

}
/*this is for the form on the main log in page that allows already registered user log in*/
.submit-button-sign-in{
  font-size: 1em;
  margin-right: 10%;
  float: right;
  width:45%;
  border:none;
  border-bottom: 1.2px solid black;
  background-color: white;
  text-align: right;
  color:black;
    &:hover {
         color: #337ab7;
       }
}


.video-comments-container{
  width:100%;
  height: 110%;
  
  font-size: 9px;
  background-color: white;
  
  color:rgb(0, 136, 255);

}
.video-email-link  {
  color: rgb(0, 136, 255);
    
  width: 49%;
  font-size: 1em;
  line-height: 18px;
  font-weight: 700;
  margin-top: 0px;
 
  text-align: right;
  
  padding-top: 0px;
  display: inline-block;



}

.video-info-container-header-top{
  border-bottom: 2px solid black;
  padding-right: 10px; 
  padding-left:10px;
  padding-bottom: 6px;
  background-color: white;
  
  width: 100%;
 

}

.user_profile_photo_tag{
  border-radius: 100%;
  border: 1px solid white;
  width: 8%;
  height: 8%;

}

.clear{
  clear: both;
}

.inline{
  display: inline !important;
}

/*this is for the users profile show page*/
.big_profile_photo_tag{
  border-radius: 100%;
  border: 1px solid white;
  margin: 2%;
  max-width: 33%;
  max-height: 33%;
  float: left;
}

/*this is for the companies profile show page*/
.company_profile_photo_tag{
  border-radius: 100%;
  border: 1px solid white;
  margin: 2%;
  max-width: 20%;
  max-height: 20%;
}


/*this is for events page photo*/
.event_photo_tag{
  /*border-radius: 100%;*/
  border: 1px solid white;
  margin: 1%;
  max-width: 22%;
  max-height: 22%;
  float:left !important;
  margin-left: 1%;
}

.homepage_photo_tag{
  width:100%;
  height: 100%;
  padding: 0;

}

 div.form_group{
  text-align: left;
 }

@media screen and (max-width: 568px) {
  .video-title-link {
    font-size: .8em;
    width: 60%;
    
  }
}
  @media screen and (max-width: 568px) {
  .video-artist-link  {
    font-size: .6em;
    width: 35%;
    
  }
}

 @media screen and (max-width: 375px) {

h1{
  font-size: .5em;

  }
}